body {
  background-color: white;
}



header {
  /* border: 1px solid black; */
  background-color: black;
}

header h1 {
  color: salmon;
  font-family: 'Righteous', sans-serif;
  font-size: 30pt;
  font-style: italic;
  text-align: center;
  padding: 30px;
}

nav {
  background-color: salmon;
  padding: .25em;
  text-align: left;
}

nav ul {
  margin: 0.5em 0.5em 0.5em 2em;
}

nav ul li {
  display: inline-block;
  margin: 0 2em 0 1em;
}

a {color: (#111);
}

h2 {
  font-size: 20pt;
  font-family: 'Righteous', sans-serif;
  padding: 0.25em 0 0.25em 0;
  margin-top: 20px;;

}
#salmonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #111;
}
#salmonBox img {
  align-self: center;
}

#storeInfo {
  margin-left: 30px;
}

#storeInfo p {
  padding-bottom: 0.25em;
  padding-left: 2em;
}
section.sales {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 5%;
}
section.sales th {
  background-color: gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

section.sales tbody td {
  background-color: salmon;
  border: 1px solid black;
  padding: 0.25em;
}

tbody tr td:last-child {
  background-color: gray;
  border: none;
}

section.sales tfoot td {
  background-color: gray;
  color: white;
  padding: 5px 0px 5px 0px;
}
footer {
    /* border: 1px solid black; */
    background-color: gray;
    color: #111;
    font-size: 14pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    padding-top: 30px;
    text-align: center;
}

form{
  margin: 20px,
}

fieldset {
  box-sizing: border-box;
  border: 1px solid #999;
  width: 95%;
  margin-left: 2.5%;
}

legend {
  font-family: 'Righteous', sans-serif;
  color: salmon;
}

label {
  font-size: 10pt;
}
